* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #252525;
  height: 100vh;
  width: 100%;
}

/* memvership css */

.membership {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0;
}

.membership .logo {
  width: 80px;
  height: 80px;
}

.membership .logo img {
  width: 100%;
}

.membership .membership-container {
  border: 1px solid #ced4da;
  border-radius: 4px;
  width: 470px;
  margin: 20px auto;
  padding: 45px 63px;
}

.membership .membership-container .term-title {
  font-size: 25px;
  margin-bottom: 30px;
}

.membership .membership-container .term-box {
  height: 400px;
  overflow: auto;
}

.membership .article-main-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.membership .article-title {
  font-size: 15px;
  margin-bottom: 15px;
}

.membership .article-desc {
  font-size: 12px;
  margin-bottom: 10px;
}

.membership .agree-button {
  width: 470px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: #12b886;
}

.membership .agree-button:hover {
  background-color: #0ca678;
}

.membership .agree-button .agree {
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
}
