<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공무원길라잡이계정</title>

    <!-- 계정정보 입력 페이지 css -->
    <link rel="stylesheet" href="css/enterAccount.css" />

    <!-- 폰트 link -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <!-- account js -->
    <script src="js/account.js"></script>
  </head>
  <body>
    <section class="account">
      <div class="logo">
        <img src="css/img/drawable-hdpi/group_62.png" alt="공길이" />
      </div>

      <form
        action="#"
        name="login-wrapper"
        method="POST"
        accept-charset="utf-8"
        autocomplete="off"
        class="input_group"
      >
        <div class="row_content">
          <span class="userinfo">아이디</span>
          <input
            type="text"
            id="user_id"
            onkeyup="checkId()"
            placeholder="아이디 입력"
          />
          <span class="caution" id="c_id"> 아이디를 입력해주세요 </span>
        </div>

        <div class="row_content">
          <span class="userinfo">비밀번호</span>
          <input
            type="password"
            id="user_pw1"
            onchange="checkPw1()"
            placeholder="비밀번호"
          />
          <span class="caution" id="c_pattern_pw">
            8~16자 영문 대 소문자, 숫자, 특수문자를 사용하세요
          </span>

          <span class="userinfo" id="chk_pw">비밀번호 확인</span>
          <input
            type="password"
            id="user_pw2"
            onchange="checkPw2()"
            placeholder="비밀번호 확인"
          />
          <span class="caution" id="c_wrong_pw">
            비밀번호가 일치하지 않습니다</span
          >
        </div>

        <div class="row_content">
          <span class="userinfo">이메일</span>
          <input
            type="text"
            id="user_email"
            onkeyup="checkEmail()"
            placeholder="이메일을 입력해 주세요"
          />
          <span class="caution" id="c_email"
            >이메일 주소를 다시 확인해주세요</span
          >
        </div>

        <div class="row_content">
          <span class="userinfo">이름</span>
          <input type="text" id="user_name" onkeyup="checkName()" />
          <span class="caution" id="c_name"> 이름을 입력해주세요 </span>
        </div>

        <div class="row_content">
          <span class="userinfo">생년월일</span>
          <div class="birth">
            <input
              type="number"
              name="select-year"
              class="sel-yy"
              placeholder="년(4자)"
            />

            <select name="select-month" class="sel-mm">
              <option value>월</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>

            <input
              type="number"
              name="select-day"
              class="sel-dd"
              placeholder="일"
            />
          </div>

          <span class="caution c_birth"> 생년월일을 입력해주세요 </span>
        </div>

        <div class="row_content">
          <span class="userinfo">닉네임</span>
          <input
            type="text"
            id="user_nickname"
            onkeyup="checkNick()"
            placeholder="닉네임을 입력하세요"
          />
          <span class="caution" id="c_nick"> 닉네임을 입력해주세요 </span>
        </div>

        <div class="row_content">
          <span class="userinfo">지역 인증</span>
          <input type="text" id="user_location" />
        </div>

        <div class="row_content">
          <span class="userinfo">직렬</span>
          <input
            type="text"
            id="user_rank"
            onkeyup="checkRank()"
            placeholder="직렬을 입력하세요"
          />
          <span class="caution" id="c_rank"> 직렬을 입력해주세요 </span>
        </div>

        <div class="row_content">
          <span class="userinfo">학습기간</span>
          <select name="select-month" class="sel-mm-p">
            <option value>기간</option>
            <option value="1">1년</option>
            <option value="2">2년</option>
            <option value="3">3년</option>
            <option value="4">4년</option>
            <option value="5">5년</option>
            <option value="6">6년</option>
            <option value="7">7년</option>
          </select>

          <span class="caution c_period"> 학습기간을 입력해주세요 </span>
        </div>

        <div class="row_content">
          <div class="go_login">
            <button
              type="button"
              onclick="location.href='/signupComplete'"
              class="submit-button"
            >
              가입하기
            </button>
          </div>
        </div>
      </form>
    </section>
  </body>
</html>
