<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공길이 | LogIn</title>

    <!-- 로그인 페이지 css -->
    <link rel="stylesheet" href="css/logIn.css" />

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- 폰트 link -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="login">
      <div class="login-container">
        <span class="logo"> 공길이 </span>
        <h1 class="login-title">로그인</h1>

        <!-- method="POST"
        accept-charset="utf-8"
        autocomplete="off"
        action="" -->
        <form id="login-wrapper" name="login-wrapper" class="input-group">
          <div class="input-wrapper">
            <input type="text" id="userId" name="userId" placeholder="아이디" />
            <input
              type="password"
              id="userPw"
              name="userPw"
              placeholder="비밀번호"
            />
          </div>

          <div class="error-wrapper">
            <div class="error-msg">
              <div class="wrong-account">
                공길이계정 혹은 비밀번호가 일치하지 않습니다. 입력한 내용을 다시
                확인해 주세요.
              </div>
              <div class="null-account">
                아이디 혹은 비밀번호를 입력해주세요
              </div>
            </div>
          </div>

          <div class="login-method">
            <button class="loginButton" type="button">로그인</button>
            <span class="line">
              <span class="text-or">또는</span>
            </span>
            <button class="loginButton">카카오톡으로 로그인</button>
          </div>

          <div class="about-account">
            <a href="/signup" class="sign-up">회원가입</a>
            <a href="#" class="find-user-info">아이디 / 비밀번호찾기</a>
          </div>
        </form>
      </div>
    </section>

    <!-- 로그인 페이지 js -->
    <script src="js/login.js"></script>
  </body>
</html>
