<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공무원 길라잡이 | 공길이</title>

    <!-- main Page css -->
    <link rel="stylesheet" href="css/mainPage.css" />

    <!-- 폰트 link -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header-wrapper container">
      <h1 class="main_title">
        <a href="/logIn">
          <b class="t_color">공</b>길이
          <span class="sub_title">공무원 길라잡이</span>
        </a>
      </h1>
      <span class="sub_tab">
        <span class="user_nickName">강수정</span>
        <span class="user_img"></span>
        <img
          src="css/img/hamburger.png"
          alt="내 정보 탭"
          class="hamburger_tab"
        />
      </span>
    </header>

    <section class="main container">
      <div class="banner">
        <div class="banner_image"></div>
      </div>
      <div class="g_container">
        <div class="g_item">
          <a href="#">
            <span class="select_menu">공시뉴스</span>
            <img src="css/img/메인 아이콘/news.png" alt="" />
          </a>
        </div>
        <div class="g_item">
          <a href="#">
            <span class="select_menu">자유게시판</span>
            <img src="css/img/메인 아이콘/ranking.png" alt="" />
          </a>
        </div>
        <div class="g_item">
          <a href="#">
            <span class="select_menu">스터디</span>
            <img src="css/img/메인 아이콘/open_book.png" alt="" />
          </a>
        </div>
        <div class="g_item">
          <a href="#">
            <span class="select_menu">스케줄 공유</span>
            <img src="css/img/메인 아이콘/schedule.png" alt="" />
          </a>
        </div>
        <div class="g_item">
          <a href="#">
            <span class="select_menu">공부량 랭킹</span>
            <img src="css/img/메인 아이콘/ranking_2.png" alt="" />
          </a>
        </div>
        <div class="g_item">
          <a href="#">
            <span class="select_menu">내 근처 공부방</span>
            <img src="css/img/메인 아이콘/location.png" alt="" />
          </a>
        </div>
        <div class="g_item">
          <a href="#">
            <span class="select_menu">학습성향 테스트</span>
            <img src="css/img/메인 아이콘/test.png" alt="" />
          </a>
        </div>
        <div class="g_item">
          <a href="#">
            <span class="select_menu">비대면 상담</span>
            <img src="css/img/메인 아이콘/contact.png" alt="" />
          </a>
        </div>
      </div>
    </section>
    <footer class="footer_wrapper container">
      <div class="f_content">뭘 써야하지</div>
    </footer>
  </body>
</html>
