<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>complete</title>

    <link rel="stylesheet" href="css/signupComplete.css" />

    <!-- 폰트 link -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="complete">
      <div class="logo">
        <img src="css/img/drawable-hdpi/group_62.png" alt="공길이" />
      </div>

      <span class="signup_complete">
        <img
          src="css/img/회원가입 완료/drawable-hdpi/group_279.png"
          alt="회원가입완료"
        />
      </span>

      <div class="go_login">
        <button
          type="button"
          onclick="location.href='/logIn'"
          class="login_link"
        >
          로그인 하러가기
        </button>
      </div>
    </section>
  </body>
</html>
