<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시판 관리</title>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- header nav 공통 html 불러오기 -->
    <script src="js/includeHTML.js"></script>

    <!-- header css -->
    <link rel="stylesheet" href="css/header.css" />

    <!-- nav css -->
    <link rel="stylesheet" href="css/navigation.css" />

    <!-- board css -->
    <link rel="stylesheet" href="css/board.css" />

    <!-- 폰트 link -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <script>
      $(document).ready(function () {
        // $("header").load($("header").attr("include-html"), function () {});
        // $("nav").load($("nav").attr("include-html"), function () {});
        // $("main").load($("main").attr("include-html"), function () {
        //   initEvent();
        //   getBoardList();
        // });

        $("[include-html]").each(function (index, item) {
          $(item).load($(item).attr("include-html"), function () {
            $(document).trigger($(item).prop("tagName") + "-load-after");
          });
        });
        $(document).on("MAIN-load-after", function () {
          initEvent();
          getBoardList();
        });
      });
    </script>
  </head>
  <body>
    <header include-html="/component/header.html"></header>
    <nav include-html="/component/navigation.html"></nav>
    <main include-html="/content/board_main.html" class="border_sec"></main>

    <!-- 테이블 호출 -->
    <script src="/js/boardPage.js"></script>
  </body>
</html>
