<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공무원 길라잡이 | 공길이</title>

    <!-- main Page css -->
    <link rel="stylesheet" href="css/mainPage.css" />

    <!-- 폰트 link -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- <div class="main">메인페이지입니다</div> -->
    <header class="header-wrapper">
      <h1 class="main-title"><a href="/logIn">공길이</a></h1>
    </header>

    <section class="main">
      <ul>
        <li>
          <a href="#">
            <img src="" alt="" />
            <span class="select_menu">공시뉴스</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="" alt="" />
            <span class="select_menu">자유게시판</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="" alt="" />
            <span class="select_menu">스터디</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="" alt="" />
            <span class="select_menu">스케줄공유</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="" alt="" />
            <span class="select_menu">공부량 랭킹</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="" alt="" />
            <span class="select_menu">내 근처 공부방</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="" alt="" />
            <span class="select_menu">학습성향 테스트</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="" alt="" />
            <span class="select_menu">비대면 상담</span>
          </a>
        </li>
      </ul>
    </section>
  </body>
</html>
