<h1 class="nav_title hidden">네비게이션 메뉴</h1>
<ul class="nav_menu">
  <li class="nav_content">
    <a href="/main" class="nav_link">메인페이지로 이동</a>
  </li>
  <li class="nav_content">
    <a href="/board" class="nav_link"> 전체 게시판 관리 </a>
  </li>
  <li class="nav_content">
    <a href="/board_news" class="nav_link">공시뉴스 게시판</a>
  </li>
  <li class="nav_content">
    <a href="/board_freeBoard" class="nav_link">자유 게시판</a>
  </li>
  <li class="nav_content">
    <a href="/board_study" class="nav_link">스터디</a>
  </li>
  <li class="nav_content">
    <a href="/board_schedule" class="nav_link">스케줄 & 공부량</a>
  </li>
  <li class="nav_content">
    <a href="/board_studyAmount" class="nav_link">공부량</a>
  </li>
  <li class="nav_content">
    <a href="/user_management" class="nav_link">유저 관리</a>
  </li>
</ul>
