* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "NanumSquare", sans-serif;
  padding-top: 50px;
}

a {
  color: #333;
  text-decoration: none;
  display: block;
}

li {
  list-style: none;
}

span {
  display: block;
  font-size: 16px;
  line-height: 1.6;
  color: #2b292d;
}

/* hamburger 탭 활성화 */
header .header-wrapper .active {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* header css */
header .header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  /* overflow: hidden; */
  padding: 0 340px;

  text-align: center;
  background-color: #ffffff;
  z-index: 9999;
  height: 50px;

  /* main 에서는 border-bottom 필요없음 */
  /* border-bottom: 1px solid #e5e5e5; */
}

header .company-title {
  float: left;
}
header .company-title a {
  display: block;
  font-size: 25px;
  line-height: 48px;
  height: 50px;
}

header .nav {
  display: inline-block;
}

header .nav-item {
  width: auto;
  float: left;
}

header .nav-item a {
  display: block;
  height: 50px;
  line-height: 48px;
  padding: 0 14px;
}

header .nav li a:hover {
  border-bottom: 2px solid #001845;
}

header .sub-tab {
  display: none;

  float: right;
  position: relative;
  top: 5px;

  width: 40px;
  height: 40px;
  background-image: url("./image/hamburger.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

header .header-wrapper::after,
header .header-wrapper .nav::after {
  content: "";
  display: block;
  clear: both;
}

/* main css */
/* slider css */
main .swiper-wrapper {
  position: relative;
}

main .swiper-slide {
  padding: 0 340px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .intro-title {
  font-size: 25px;
  margin-bottom: 30px;
  color: #fff;
}

main #fitst-content {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 28, 115, 1) 0%,
    rgba(0, 118, 142, 1) 100%
  );
}

main #second-content {
  background-color: #76777c;
}

main #second-content .intro-content {
  width: 715px;
}

main .intro-content {
  width: 613px;
  font-size: 18px;
  line-height: 1.4545;
  color: #fff;
}

.swiper-button-prev,
.swiper-button-next {
  /* color:  */
  --swiper-theme-color: #e5e5e5;

  /* size */
  --swiper-navigation-size: 30px;
}

/* graph css */
main .graph {
  padding: 80px;
}

main .graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main .graph-wrapper {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 10%), 0px 4px 6px rgb(0 0 0 / 5%),
    inset 0px 1px 0px rgb(255 255 255 / 10%);
  border-radius: 10px;
  padding: 20px 20px;
  width: 310px;
}

main .graph-wrapper:last-child {
  margin-right: 0;
}

main .graph-wrapper .graph-title {
  font-size: 25px;
}

main .g-wrapper {
  position: relative;
  margin: 20px 0;
  width: 200px;
  display: inline-block;
  text-align: center;
}

main .graph strong {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* footer */
footer .company-detail {
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

footer img {
  width: 40px;
}

footer .detail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

footer .detail span {
  color: #fff;
  font-size: 14px;
  margin-right: 15px;
}

footer .detail span:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1366px) {
  /* 가로길이가 1366px 보다 작을 경우(이하)에 적용됨 */
  header .header-wrapper {
    padding: 0 200px;
  }
  main .swiper-slide {
    padding: 150px 200px;
  }
}

@media screen and (max-width: 1200px) {
  /* 가로길이가 1200px 보다 작을 경우(이하)에 적용됨 */
  span {
    font-size: 14px;
  }

  main .graph-wrapper {
    width: 260px;
  }

  main .g-wrapper {
    width: 150px;
  }

  main .graph-wrapper .graph-title {
    font-size: 20px;
  }

  main .graph strong {
    font-size: 30px;
  }
}

@media screen and (max-width: 992px) {
  /* 가로길이가 992px 보다 작을 경우(이하)에 적용됨 */
  header .header-wrapper {
    padding: 0 100px;
  }
  main .swiper-slide {
    padding: 150px 100px;
  }

  main .graph-wrapper {
    padding: 20px 10px;
  }
  main .graph {
    padding: 50px 20px;
  }
}

@media screen and (max-width: 855px) {
  /* 가로길이가 992px 보다 작을 경우(이하)에 적용됨 */
  main .swiper-slide {
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  main .swiper-slide .intro-content {
    text-align: center;
  }

  main .graph-container {
    flex-direction: column;
  }
  main .graph-wrapper {
    margin-right: 0;
    margin-bottom: 50px;
    width: 100%;
  }

  /* footer */
  .company-detail .detail {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  header .header-wrapper {
    padding: 0;
  }

  header .company-title {
    float: none;
    display: inline-block;
    position: relative;
    right: -20px;
  }

  /* nav 사라짐 -> 햄버거 메뉴로 대체 */
  header .nav {
    display: none;
  }

  header .nav li a:hover {
    border-bottom: none;
  }

  header .sub-tab {
    display: inline-block;
  }

  main .swiper-slide {
    padding: 0;
  }
  main .intro-title {
    font-size: 20px;
  }

  main .swiper-slide .intro-content {
    width: auto !important;
    padding: 0 40px;
    font-size: 14px;
    text-align: left;
  }

  .swiper-button-prev,
  .swiper-button-next {
    /* size */
    --swiper-navigation-size: 0;
  }
}
