@import url("/font/fonts.css");

/* common css */
a {
  text-decoration: none;
}

header {
  font-family: "Recipekorea", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: #15a58d;
  box-shadow: 0 4px 4px -4px #f1f3f5;
}

.main_title {
  display: block;
  font-size: 20px;
  padding: 14px 0 7px 22px;
}

.main_title a {
  color: #fff;
}
