@import url("/font/fonts.css");

/* common css */
a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
}

.main_title {
  font-family: "Recipekorea", sans-serif;
  display: block;
  font-size: 25px;
  padding: 15px 0 5px 15px;
  border-bottom: 1px solid #e9ecef;
}
