@import url("/font/fonts.css");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  color: #495057;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* common css */
h1 {
  display: block;
}

label {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  padding-left: 8px;
  cursor: pointer;
  margin-bottom: 7px;
}

input {
  height: 45px;
  border: 1px solid #ced0da;
  border-radius: 4px;
}

/* login css */
.login {
  min-width: 450px;
  padding: 40px;
  border: 1px solid #dee2e6;
  border-radius: 6px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 10%), 0px 4px 6px rgb(0 0 0 / 5%),
    inset 0px 1px 0px rgb(255 255 255 / 10%);
}

.login_title {
  font-family: "Recipekorea", sans-serif;
  display: inline-block;
  font-size: 25px;
  margin-bottom: 40px;
}

.item_input {
  margin-bottom: 15px;
}

.lab_placeholder {
  width: 100%;
}

.lab_clear {
  display: none;
}

.user_input {
  width: 100%;
  padding-left: 8px;
}

.user_input:focus {
  outline: none;
  border: 1px solid #099268;
}

.submit_btn {
  height: 50px;
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  background-color: #20c997;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
}

.submit_btn:hover {
  background-color: #12b886;
}

.submit_btn:focus {
  outline: none;
  box-shadow: 0 2px 6px 0 rgb(61 80 81 / 8%);
}

img {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 80px;
}
