/* common css */
.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

ul {
  list-style: none;
}

/* nav css */
nav {
  margin-top: 56px;

  position: fixed;
  top: 0;
  z-index: 10;
  width: 200px;
  height: 100%;
  padding: 20px 20px;
  border-right: 1px solid #e9ecef;
}

.nav_menu {
  padding: 0;
}

.nav_content {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}
