/* common css */
.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

ul {
  list-style: none;
}

/* nav css */
nav {
  margin-top: 56px;

  position: fixed;
  top: 0;
  z-index: 10;
  width: 200px;
  height: 100%;
  border-right: 1px solid #e9ecef;
}

.nav_menu {
  padding: 0;
}

.nav_content {
  text-align: center;
  width: 100%;
  padding: 15px;
  font-size: 20px;
  font-weight: 400;
}

.nav_content:hover {
  background-color: #e6fcf5;
  box-shadow: 0 4px 4px -4px #f1f3f5;
}
