<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Business | 오르카소프트</title>

    <!-- header, footer 공통 html -->
    <script src="js/common-js.js"></script>

    <!-- main과 공통인 css - header, footer -->
    <link rel="stylesheet" href="css/main.css" />

    <!-- business css -->
    <link rel="stylesheet" href="css/business.css" />

    <!-- hover effect -->
    <link rel="stylesheet" href="css/hoverEffect.css">

    <!-- 폰트 -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <script>
      window.onload = function () {
        includeHTML();
      };
    </script>
  </head>
  <body>
    <header include-html="/component/header.html"></header>
    <main>
      <div class="business">
        <div class="intro">
          <h1>BUSINESS</h1>
          <span>WHAT WE CAN DO</span>
        </div>
        
        <div class="service-wrapper">
          <div class="service">
            <span></span><span></span><span></span><span></span>
            <div class="content">
              <div class="title">
                <h2 class="business-title">응용프로그램 개발</h2>
                <span class="sub-title">
                  Application development
                </span>
              </div>
              
              <p class="business-content">
                VR, AR, GIS, Web, 블록체인 등 4차 산업혁명의 핵심기술을 사용하여
                프로그램을 개발합니다. </br> 
                각 전담 파트에서 최고의 전문가들로 구성되어
                있는 당사는 기술개발 및 연구, 최신 IT 트랜드 분석을 통해 새로운
                가능성을 제시합니다.
              </p>
            </div>
            <div class="explane-img">
              이미지
            </div>
          </div>
          <div class="service">
            <span></span><span></span><span></span><span></span>
            <div class="content">
              <div class="title">
                <h2 class="business-title">프로그래밍 교육</h2>
                <span class="sub-title">
                  Programming Training
                </span>
              </div>
              
              <p class="business-content">
                기초 프로그래밍부터, 블록체인의 이해, AR / VR 콘텐츠 제작까지 각
                분야별 전문가들이 교육생의 수준에 최적화된 교육을 진행합니다.
              </p>
            </div>
            <div class="explane-img">
              이미지
            </div>
          </div>
          <div class="service">
            <span></span><span></span><span></span><span></span>
            <div class="content">
              <div class="title">
                <h2 class="business-title">체험 부스 운영</h2>
                <span class="sub-title">
                  Experience booth operation
                </span>
              </div>
              
              <p class="business-content">
                가상현실, 증강현실 콘텐츠를 활용한 체험부스 운영, 주문 제작형
                컨텐츠를 통한 부스운영 등 사용자의 니즈 중심의 체험 부스를 운영
                가능합니다.
              </p>
            </div>
            <div class="explane-img">
              이미지
            </div>
          </div>
        </div>
        
      </div>
    </main>
    <footer include-html="/component/footer.html"></footer>
  </body>
</html>
