<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>오르카소프트</title>

    <!-- header, footer 공통 html -->
    <script src="js/common-js.js"></script>

    <!-- 메인 스타일 -->
    <link rel="stylesheet" href="css/main.css" />

    <!-- 폰트 -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!-- hover effect -->
    <link rel="stylesheet" href="css/hoverEffect.css" />

    <!-- 도넛 차트 플러그인 -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="plugin/Donut-Pie-Ring-Charts-SVG-Donutty/dist/donutty-jquery.js"></script>
    <script src="js/donutGraph.js"></script>

    <!-- 슬라이더 cnd -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="js/slider.js"></script>

    <!-- 햄버거 메뉴 탭 -->
    <script src="js/hamburgerToggle.js"></script>

    <script>
      $(document).ready(function () {
        var agentType = checkAgent();
        // alert(agentType);
        includeHTML();
        window.initSlider();

        // ios 대비 0.01초만에 -90도를 돌린다
        // 현재 safari에서  rotate가 제대로 안먹히기 때문
        if (agentType == "safari") {
          setTimeout(function () {
            $("circle")[1].setAttribute("transform", "rotate(-90,55,55)");
            $("circle")[3].setAttribute("transform", "rotate(-90,55,55)");
            $("circle")[5].setAttribute("transform", "rotate(-90,55,55)");
          }, 10);
        }
      });
    </script>
  </head>
  <body>
    <header include-html="/component/header.html"></header>
    <main>
      <div class="swiper-container">
        <ul class="swiper-wrapper">
          <li class="swiper-slide" id="fitst-content">
            <h2 class="intro-title">당신의 꿈을 실현시켜주는 오르카 소프트</h2>
            <p class="intro-content">
              Orca란 범고래를 뜻하며, 범고래는 바다에의 최상위 포식자로 알려져
              있습니다. <br />
              Orca Software는 소프트웨어 산업의 범고래가 되겠다는 다짐으로 모인
              개발자들이 설립한 청년 기업입니다.<br />
              VR, 블록체인, Web등 각 파트별 전문가들이 꿈을 현실로 만들어
              드립니다.
            </p>
          </li>

          <li class="swiper-slide" id="second-content">
            <h2 class="intro-title">젊음의 무한경쟁 오르카 소프트</h2>
            <p class="intro-content">
              오르카 소프트는 참신한 아이디어와 독창성으로 무장한 개발자들이
              함께 설립한 청년기업입니다.<br />
              패기와 열정을 가진 젊은 개발자들이 급변하는 4차산업 혁명 시대에 발
              빠르게 대처할 수 있습니다. <br />
              젊은이란 무한한 가능성과 그 무엇도 두려워하지 않는 매력적인
              코드입니다.<br />
              앞으로 꾸준히 정상하여 IT업계의 확고한 선두주자로 거듭나겠습니다.
            </p>
          </li>
        </ul>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
      <div class="graph">
        <div class="graph-container">
          <div class="graph-wrapper">
            <h3 class="graph-title">전문적인 노하우</h3>

            <div class="g-wrapper">
              <strong>90%</strong>
              <div class="common-graph" id="first-graph"></div>
            </div>

            <span>
              각 분야별 전문 개발자들의 노하우로 <br />
              소프트웨어를 완성합니다
            </span>
          </div>

          <div class="graph-wrapper">
            <h3 class="graph-title">최신 트랜드 리드</h3>

            <div class="g-wrapper">
              <strong>99%</strong>
              <div class="common-graph" id="second-graph"></div>
            </div>

            <span>
              최신 IT 트랜드 분석과 기술력으로 <br />
              IT 업계의 선두 주자가 되겠습니다
            </span>
          </div>

          <div class="graph-wrapper">
            <h3 class="graph-title">합리적인 가격</h3>

            <div class="g-wrapper">
              <strong>100%</strong>
              <div class="common-graph" id="third-graph"></div>
            </div>

            <span
              >효율적인 프로젝트 관리로 <br />
              최선의 가격을 제공합니다</span
            >
          </div>
        </div>
      </div>
    </main>

    <footer include-html="/component/footer.html"></footer>
  </body>
</html>
