<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WITH US | 오르카소프트</title>

    <!-- header, footer 공통 html -->
    <script src="js/common-js.js"></script>

    <!-- main과 공통인 css - header, footer -->
    <link rel="stylesheet" href="css/main.css" />

    <!-- with us css -->
    <link rel="stylesheet" href="css/withus.css" />

    <!-- 폰트 -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <script>
      window.onload = function () {
        includeHTML();
      };
    </script>
  </head>
  <body>
    <header include-html="/component/header.html"></header>
    <main>
      <div class="inqury-wrapper">
        <span class="inquiry-title">
          제휴 또는 협력, 서비스에 대한 궁금한 사항을 작성해주세요 <br />
          담당자가 확인하는 대로 최대한 빠른 답변 드리겠습니다
        </span>
      </div>

      <div class="form-container">
        <form
          action="#"
          name="person-info"
          method="POST"
          accept-charset="utf-8"
          class="input-group"
        >
          <table class="table">
            <tr>
              <th>이름</th>
              <td><input type="text" name="person-name" id="test" /></td>
            </tr>
            <tr>
              <th>연락처</th>
              <td><input type="text" name="person-tel" /></td>
            </tr>
            <tr>
              <th>이메일</th>
              <td><input type="email" name="email" /></td>
            </tr>
            <tr>
              <th>업종</th>
              <td><input type="text" name="type-of-business" /></td>
            </tr>
            <tr>
              <th>문의내용</th>
              <td><textarea name="inquiry-content" id="inquiry"></textarea></td>
            </tr>
          </table>
          <button type="submit" class="submit-button">제출</button>
        </form>
      </div>
    </main>
    <footer include-html="/component/footer.html" required></footer>
  </body>
</html>
