* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
}

/* 탭메뉴  */
.menu {
  list-style: none;
  padding-left: 0;

  /* float 해제하는 법 */
  overflow: hidden;

  border-bottom: 1px solid lightgray;
}

.menu::after {
  content: "";
  clear: both;
  display: block;
}

.menu-item {
  float: left;
  margin-left: 10px;
}

.menu-item a {
  display: block;
  padding: 16px 20px;
}

.menu-item a:hover {
  border-bottom: 1px solid tomato;
}
